In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import seaborn as sns
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder

In [12]:
iris = sns.load_dataset("iris")

In [13]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
X = iris.drop("species", axis=1)
y = iris.species

In [18]:
enc = LabelEncoder()
y = enc.fit_transform(y)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.6, random_state=0)

In [23]:
clf = SVC(kernel="linear", C=1)

In [24]:
clf = clf.fit(X_train, y_train)

In [27]:
clf.score(X_train, y_train)

0.9888888888888889

In [28]:
clf.score(X_test, y_test)

0.9666666666666667

In [30]:
clf = SVC(kernel="linear", C=1)
scores = cross_val_score(clf, X, y, cv=5)
scores

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [32]:
scores = cross_val_score(clf, X, y, scoring="f1_macro")
scores

array([0.96658312, 1.        , 0.96658312, 0.96658312, 1.        ])

In [42]:
from sklearn.model_selection import ShuffleSplit
cv  = ShuffleSplit(n_splits=3, test_size=0.3, random_state=0)
cross_val_score(clf, X, y, cv=cv)

array([0.97777778, 0.97777778, 1.        ])

In [43]:
import os
os.getcwd()

'/home/wit/new-root/ntbk'

In [52]:
from common import GannSwing, get_lags

ImportError: cannot import name 'get_lags' from 'common' (/home/wit/new-root/ntbk/common.py)

In [47]:
GannSwing?

In [49]:
data = pd.read_csv("./data/dax-data.csv")

,Unnamed: 0,date,open,high,low,close,iblow,ibhigh,ibclose,range,ibrange,daydir,ibdir,ibdaytype,weekday
0,0,2021-03-04,14015.44,14095.81,13959.27,14056.34,13976.44,14056.32,14006.65,136.54,79.88,up,down,both-broken,3
1,1,2021-03-05,13958.54,14068.03,13868.20,13920.69,13868.20,13970.17,13901.60,199.83,101.97,down,down,high-broken,4
2,2,2021-03-08,14024.57,14402.92,13977.13,14380.91,13977.13,14050.00,14013.16,425.79,72.87,up,down,high-broken,0
3,3,2021-03-09,14345.51,14475.65,14309.35,14437.94,14309.35,14403.48,14392.05,166.30,94.13,up,up,high-broken,1
4,4,2021-03-10,14439.45,14560.97,14408.52,14540.25,14408.52,14488.46,14477.09,152.45,79.94,up,up,high-broken,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,271,2022-03-28,14376.00,14627.58,14371.90,14417.37,14371.90,14527.01,14504.18,255.68,155.11,up,up,high-broken,0
272,272,2022-03-29,14592.74,14925.25,14553.71,14820.33,14553.71,14664.29,14603.33,371.54,110.58,up,up,high-broken,1
273,273,2022-03-30,14712.32,14744.72,14555.87,14606.05,14586.01,14744.72,14620.20,188.85,158.71,down,down,low-broken,2
274,274,2022-03-31,14674.83,14732.00,14404.03,14414.75,14603.31,14732.00,14607.18,327.97,128.69,down,down,low-broken,3
275,275,2022-04-01,14447.78,14506.02,14403.09,14446.48,14403.09,14502.93,14439.08,102.93,99.84,down,down,high-broken,4