In [5]:
from tvDatafeed import TvDatafeed, Interval
import pandas as pd
import pandas_ta as ta
from common import getlags

In [2]:
tv = TvDatafeed()

you are using nologin method, data you access may be limited

In [3]:
cable = tv.get_hist("GBPUSD", "OANDA", Interval.in_daily, 5000)

In [9]:
gbp = cable.reset_index().drop(["symbol", "volume"], axis=1)
gbp["date"] = pd.to_datetime(gbp.datetime).dt.date
df = gbp.drop("datetime", axis=1)

In [11]:
df.head()

     open    high     low   close        date
0  1.6132  1.6132  1.6079  1.6079  2003-01-19
1  1.6079  1.6175  1.6079  1.6175  2003-01-20
2  1.6175  1.6193  1.6175  1.6193  2003-01-21
3  1.6193  1.6229  1.6193  1.6229  2003-01-22
4  1.6229  1.6337  1.6229  1.6337  2003-01-23

In [12]:
df["daydir"] = df.apply(
    lambda r: "up" if r.close >= r.open else "down",
    axis=1
)